body{
    background: url(../images/bg-sonik1.jpg) no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nav-item:hover{
    color: cyan !important;
}








