{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}


{% block main %}

<div class="d-flex justify-content-center mt-4">
    {% if request.user == anime.author %}
    <form action="" method="post">
        {% csrf_token %}
        <p class="text-dark">Вы действительно хотите удалить: {{ anime.title }} ?</p>

        <div class="d-flex justify-content-center mt-4">
            <button type="submit" class="btn btn-danger rounded mx-3">Да удалить</button>
            <a href="{{ anime.get_absolute_url }}" class="btn btn-success">Назад</a>

        </div>

    </form>
    {% else %}
    <h3 class="text-dark">Ты не Хозяин, ты не можешь удалять</h3>
     {% endif %}

</div>


{% endblock main %}














